#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

#score {
  margin-right: 30px;
  position: absolute;
  right: 0;
}
