#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* color: #1C4E54; */
  color: #331832;
}

header {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

#score {
  margin-right: 30px;
  position: absolute;
  right: 0;
}

#question-count {
  margin-left: 30px;
  position: absolute;
  left: 0;
}
